.header{
display: flex;
align-items: center;
justify-content: space-around;
background-color: rgb(177, 9, 9);
border-radius: 20px;
color: white;
height: 75px;
width: 98%;
margin: 5px 0  0 7px;
position: fixed;

// gap: 200px;
.logo{
    & :hover{
        cursor: pointer;
        
        }
img{
    height:70px }

}

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;

        .search-inp{
            display: flex;
            gap: 5px;

        }
    }
}